@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Spartan", san-serif;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
}

h6{
  font-size: 12px;
  font-weight: 700;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0
}

.section-p1{
  padding: 40px 80px;
  
}


.section-m1{
  padding: 40px 0;
}

body{
 width: 100%;
 font-family: inherit; 
}

/* ==== Header ==== Header ==== Header */

#header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
}

#header img{
    width: 100px;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}

.quantity{
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 5px 6px;
  font-size: 7px
  
}

#mobile{
display: none;
  align-items: center
}

#close{
  display: none
}

#navbar li{
  list-style: none; 
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  color: white;
  transition: 0.3s ease
}

#navbar li a:hover,
#navbar li a.active{
  color: white;
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content: " ";
  width: 30%;
  height: 2px;
  background: 2px;
  background-color: white;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#lg-bag i{
    font-size: 24px;
}